.feature{
    display: grid;
    grid-template-columns: 1fr;
    &__item{
        
    }

    .text-content{
        padding: calUni(72px) calUni(30px);
        text-align: center;
        background-color: $white;

        h1{
            color: $veryDarkDesaBlue;
            font-weight: 900;
        }

        p{
            line-height: 1.6;
            font-size: 16.5px;
        }

        @include m-breakpoint-up(tab){
            padding: 10.5rem 7.875rem;
        }

        @include m-breakpoint-up(ltab){
            text-align: left;
            padding: 10.5rem 3.5rem;
        }

        @include m-breakpoint-up(laptop){
            
            padding: calUni(168px) calUni(120px);
        }
    }

    .img-content{
        width: 100%;
        height: calUni(315px);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        @include m-breakpoint-up(tab){
            height: 30.6875rem;
        }
        @include m-breakpoint-up(ltab){
            height: unset;
        }
    }

    .mix-content{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;
        height: calUni(600px);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        
        padding: 0 calUni(25px);
        padding-bottom: calUni(50px);

        p{
            line-height: 1.6;
            font-size: 15px;
        }

        @include m-breakpoint-up(tab){
            padding: 0 11.5625rem;
            padding-bottom: 3.125rem;
        }

        @include m-breakpoint-up(ltab){
            padding: 0 5rem;
            padding-bottom: calUni(50px);
        }

        @include m-breakpoint-up(laptop){
            height: calUni(595px);
            padding: 0 10rem;
            padding-bottom: calUni(63px);
        }

        
    }

    &__item:nth-child(1){
        order: 2;
        @include m-breakpoint-up(ltab){
            order: 1;
        }
    }
    &__item:nth-child(2){
        order: 1;
        background-image: url('../img/mobile/image-transform.jpg');

        @include m-breakpoint-up(ltab){
            background-image: url('../img/desktop/image-transform.jpg');
        }
    }
    &__item:nth-child(3){
        order: 3;
        background-image: url('../img/mobile/image-stand-out.jpg');

        @include m-breakpoint-up(ltab){
            background-image: url('../img/desktop/image-stand-out.jpg');
        }
    }
    &__item:nth-child(4){
        order: 4;
    }
    &__item:nth-child(5){
        color: $darkDesaCyan;
        order: 5;
        background-image: url('../img/mobile/image-graphic-design.jpg');

        @include m-breakpoint-up(ltab){
            background-image: url('../img/desktop/image-graphic-design.jpg');
        }
    }
    &__item:nth-child(6){
        color: $darkBlue;
        order: 6;
        background-image: url('../img/mobile/image-photography.jpg');

        @include m-breakpoint-up(ltab){
            background-image: url('../img/desktop/image-photography.jpg');
        }
    }

    &__btn{
        position: relative;
        width: 145px;
        border: 0;
        outline: 0;
        background-color: transparent;
        color: $veryDarkDesaBlue;
        font-size: calUni(14.5px);
        font-family: $heading-font;
        font-weight: 900;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;

        @include m-breakpoint-up(laptop){
            padding: 0;
            margin-left: -5px;
        }

        &::before{
            content: "";
            position: absolute;
            width: 135px;
            height: 9px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            border-radius: 50px;
            
            opacity: 0.5;
            transition: opacity 200ms ease-out;
            z-index: 0;
        }

        &:hover{
            &::before{
                opacity: 1;
            }
        }

        &.yellow{
            &::before{
                background-color: $yellow;
            }
        }
        &.red{
            &::before{
                background-color: $softRed;
            }
        }
        &::after{
            content: "Learn More";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @include m-breakpoint-up(ltab){
        grid-template-columns: repeat(2, 1fr);
    }
}