html {
  font-size: 112.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  color: #818498;
}

a, a:visited, a:hover {
  color: unset;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Fraunces", serif;
  margin: 0;
}

h1 {
  font-size: 1.5625rem;
}

@media (min-width: 85.375em) {
  h1 {
    font-size: 1.875rem;
  }
}

h2 {
  font-size: 1.375rem;
  font-weight: 900;
}

@media (min-width: 85.375em) {
  h2 {
    font-size: 1.5625rem;
  }
}

h3 {
  font-size: 0.875rem;
  font-weight: 900;
}

@media (min-width: 85.375em) {
  h3 {
    font-size: 1.125rem;
  }
}

@media (min-width: 85.375em) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (max-width: 85.3125em) {
  .hide-on-mobile {
    display: none !important;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.3125rem 1.5625rem;
  z-index: 3000;
}

@media (min-width: 85.375em) {
  .nav {
    padding: 2.125rem 2.5rem;
  }
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.nav__list .nav__item {
  color: white;
  font-size: 0.875rem;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.nav__list .nav__item a {
  display: block;
  padding: 1.4375rem 2rem;
}

.nav__list .nav__item.active {
  background-color: white;
  color: #23303e;
  font-family: "Fraunces", serif;
  border-radius: 50px;
  text-transform: uppercase;
}

.nav__list .nav__item.active:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.nav__mobile {
  position: absolute;
  width: 85%;
  top: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style-type: none;
  padding: 2rem 4rem;
  background-color: white;
  margin-top: 1.3rem;
}

.nav__mobile .tri {
  position: absolute;
  right: 0;
  top: -27px;
  background-color: white;
  width: 28px;
  height: 28px;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.nav__mobile .nav__item {
  text-align: center;
  line-height: 1;
  padding: 0.9375rem 2.25rem;
}

.nav__mobile .nav__item.active {
  color: #23303e;
  background-color: #fad400;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  padding: 1.5625rem 2.25rem;
  margin-top: 0.625rem;
}

.nav__btn span {
  display: block;
  width: 1.625rem;
  height: 2px;
  background-color: white;
}

.nav__btn span:not(:last-child) {
  margin-bottom: 6px;
}

.header {
  position: relative;
  background-image: url("../img/mobile/image-header.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 3.1125rem;
  padding-bottom: 12.25rem;
  padding-left: 2.375rem;
  padding-right: 2.375rem;
}

.header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: 3.875rem;
  margin-bottom: 3.875rem;
  letter-spacing: 7px;
}

@media (min-width: 85.375em) {
  .header h1 {
    font-size: 2.8125rem;
  }
}

.header__down {
  position: absolute;
  bottom: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 48em) {
  .header__down {
    bottom: 17rem;
  }
}

@media (min-width: 64em) {
  .header__down {
    bottom: 24rem;
  }
}

@media (min-width: 85.375em) {
  .header__down {
    bottom: 18rem;
  }
}

@media (min-width: 48em) {
  .header {
    padding-top: 5.8125rem;
    padding-bottom: 24.25rem;
    background-position: center bottom;
  }
}

@media (min-width: 64em) {
  .header {
    padding-top: 7.8125rem;
    padding-bottom: 31.25rem;
  }
}

@media (min-width: 85.375em) {
  .header {
    background-image: url("../img/desktop/image-header.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6.8125rem;
    padding-bottom: 25.25rem;
  }
}

@media (min-width: 90em) {
  .header {
    background-size: 100%;
  }
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.feature .text-content {
  padding: 4.5rem 1.875rem;
  text-align: center;
  background-color: white;
}

.feature .text-content h1 {
  color: #23303e;
  font-weight: 900;
}

.feature .text-content p {
  line-height: 1.6;
  font-size: 16.5px;
}

@media (min-width: 48em) {
  .feature .text-content {
    padding: 10.5rem 7.875rem;
  }
}

@media (min-width: 64em) {
  .feature .text-content {
    text-align: left;
    padding: 10.5rem 3.5rem;
  }
}

@media (min-width: 85.375em) {
  .feature .text-content {
    padding: 10.5rem 7.5rem;
  }
}

.feature .img-content {
  width: 100%;
  height: 19.6875rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 48em) {
  .feature .img-content {
    height: 30.6875rem;
  }
}

@media (min-width: 64em) {
  .feature .img-content {
    height: unset;
  }
}

.feature .mix-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 37.5rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0 1.5625rem;
  padding-bottom: 3.125rem;
}

.feature .mix-content p {
  line-height: 1.6;
  font-size: 15px;
}

@media (min-width: 48em) {
  .feature .mix-content {
    padding: 0 11.5625rem;
    padding-bottom: 3.125rem;
  }
}

@media (min-width: 64em) {
  .feature .mix-content {
    padding: 0 5rem;
    padding-bottom: 3.125rem;
  }
}

@media (min-width: 85.375em) {
  .feature .mix-content {
    height: 37.1875rem;
    padding: 0 10rem;
    padding-bottom: 3.9375rem;
  }
}

.feature__item:nth-child(1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 64em) {
  .feature__item:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.feature__item:nth-child(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-image: url("../img/mobile/image-transform.jpg");
}

@media (min-width: 64em) {
  .feature__item:nth-child(2) {
    background-image: url("../img/desktop/image-transform.jpg");
  }
}

.feature__item:nth-child(3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background-image: url("../img/mobile/image-stand-out.jpg");
}

@media (min-width: 64em) {
  .feature__item:nth-child(3) {
    background-image: url("../img/desktop/image-stand-out.jpg");
  }
}

.feature__item:nth-child(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.feature__item:nth-child(5) {
  color: #25564b;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  background-image: url("../img/mobile/image-graphic-design.jpg");
}

@media (min-width: 64em) {
  .feature__item:nth-child(5) {
    background-image: url("../img/desktop/image-graphic-design.jpg");
  }
}

.feature__item:nth-child(6) {
  color: #19536b;
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  background-image: url("../img/mobile/image-photography.jpg");
}

@media (min-width: 64em) {
  .feature__item:nth-child(6) {
    background-image: url("../img/desktop/image-photography.jpg");
  }
}

.feature__btn {
  position: relative;
  width: 145px;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #23303e;
  font-size: 0.90625rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

@media (min-width: 85.375em) {
  .feature__btn {
    padding: 0;
    margin-left: -5px;
  }
}

.feature__btn::before {
  content: "";
  position: absolute;
  width: 135px;
  height: 9px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  border-radius: 50px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  z-index: 0;
}

.feature__btn:hover::before {
  opacity: 1;
}

.feature__btn.yellow::before {
  background-color: #fad400;
}

.feature__btn.red::before {
  background-color: #fe7867;
}

.feature__btn::after {
  content: "Learn More";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 64em) {
  .feature {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.testimonial {
  padding-top: 4.25rem;
  padding-bottom: 5.8125rem;
}

@media (min-width: 85.375em) {
  .testimonial {
    padding: 10.4375rem 6.375rem;
  }
}

.testimonial h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #a7abae;
}

.testimonial__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 85.375em) {
  .testimonial__wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.testimonial__item {
  text-align: center;
  padding: 0 1.4375rem;
  padding-top: 4.25rem;
}

@media (min-width: 48em) {
  .testimonial__item {
    padding: 0 12.4375rem;
    padding-top: 4.25rem;
  }
}

@media (min-width: 85.375em) {
  .testimonial__item {
    padding: 0 1.4375rem;
    padding-top: 4.25rem;
  }
}

.testimonial__item .pic {
  width: 73px;
  height: 73px;
  border-radius: 50px;
}

.testimonial__item .text {
  line-height: 1.6;
  font-size: 16.5px;
  margin: 40px 0;
  color: #818498;
}

.testimonial__item .name {
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
  margin-bottom: 10px;
}

.testimonial__item .role {
  margin: 0;
  font-size: 14.5px;
  color: #a7abae;
}

.gallary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 85.375em) {
  .gallary {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: unset;
        grid-template-rows: unset;
  }
}

.gallary__item {
  height: 188px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 48em) {
  .gallary__item {
    height: 21.75rem;
  }
}

@media (min-width: 85.375em) {
  .gallary__item {
    height: 448px;
  }
}

.gallary__item:nth-child(1) {
  background-image: url("../img/mobile/image-gallery-milkbottles.jpg");
}

@media (min-width: 85.375em) {
  .gallary__item:nth-child(1) {
    background-image: url("../img/desktop/image-gallery-milkbottles.jpg");
  }
}

.gallary__item:nth-child(2) {
  background-image: url("../img/mobile/image-gallery-orange.jpg");
}

@media (min-width: 85.375em) {
  .gallary__item:nth-child(2) {
    background-image: url("../img/desktop/image-gallery-orange.jpg");
  }
}

.gallary__item:nth-child(3) {
  background-image: url("../img/mobile/image-gallery-cone.jpg");
}

@media (min-width: 85.375em) {
  .gallary__item:nth-child(3) {
    background-image: url("../img/desktop/image-gallery-cone.jpg");
  }
}

.gallary__item:nth-child(4) {
  background-image: url("../img/mobile/image-gallery-sugar-cubes.jpg");
}

@media (min-width: 85.375em) {
  .gallary__item:nth-child(4) {
    background-image: url("../img/desktop/image-gallery-sugarcubes.jpg");
  }
}

.footer {
  background-color: #90D4C5;
  text-align: center;
  padding: 4rem 0;
}

@media (min-width: 48em) {
  .footer {
    padding: 4rem 10rem;
  }
}

@media (min-width: 85.375em) {
  .footer {
    padding: 4rem 25rem;
  }
}

.footer__logo {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.875rem 0;
  color: #458c7e;
}

.footer .links a {
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
}

.footer .links a:hover {
  color: white;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: auto;
  margin-top: 5rem;
}

.footer .social svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .social svg .logo-path {
  -webkit-transition: fill 200ms ease-out;
  transition: fill 200ms ease-out;
}

.footer .social a:hover .logo-path {
  fill: white;
}

.attribution {
  background-color: #90D4C5;
  padding: 0.5rem;
}
/*# sourceMappingURL=style.css.map */