html {
  font-size: 112.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  color: #818498;
}

a, a:visited, a:hover {
  color: unset;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Fraunces", serif;
  margin: 0;
}

h1 {
  font-size: 1.5625rem;
}

@media (min-width: 85.375em) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (max-width: 85.3125em) {
  .hide-on-mobile {
    display: none !important;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.3125rem 1.5625rem;
  z-index: 3000;
}

@media (min-width: 85.375em) {
  .nav {
    padding: 2.125rem 2.5rem;
  }
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.nav__list .nav__item {
  color: white;
  font-size: 0.875rem;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.nav__list .nav__item a {
  display: block;
  padding: 1.4375rem 2rem;
}

.nav__list .nav__item.active {
  background-color: white;
  color: #23303e;
  font-family: "Fraunces", serif;
  border-radius: 50px;
  text-transform: uppercase;
}

.nav__list .nav__item.active:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.nav__mobile {
  position: absolute;
  width: 85%;
  top: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style-type: none;
  padding: 2rem 4rem;
  background-color: white;
  margin-top: 1.3rem;
}

.nav__mobile .tri {
  position: absolute;
  right: 0;
  top: -27px;
  background-color: white;
  width: 28px;
  height: 28px;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.nav__mobile .nav__item {
  text-align: center;
  line-height: 1;
  padding: 0.9375rem 2.25rem;
}

.nav__mobile .nav__item.active {
  color: #23303e;
  background-color: #fad400;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  padding: 1.5625rem 2.25rem;
  margin-top: 0.625rem;
}

.nav__btn span {
  display: block;
  width: 1.625rem;
  height: 2px;
  background-color: white;
}

.nav__btn span:not(:last-child) {
  margin-bottom: 6px;
}

.header {
  position: relative;
  background-image: url("../img/mobile/image-header.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 3.1125rem;
  padding-bottom: 12.25rem;
  padding-left: 2.375rem;
  padding-right: 2.375rem;
}

.header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: 3.875rem;
  margin-bottom: 3.875rem;
  letter-spacing: 7px;
}

@media (min-width: 85.375em) {
  .header h1 {
    font-size: 2.8125rem;
  }
}

.header__down {
  position: absolute;
  bottom: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 48em) {
  .header__down {
    bottom: 17rem;
  }
}

@media (min-width: 64em) {
  .header__down {
    bottom: 24rem;
  }
}

@media (min-width: 85.375em) {
  .header__down {
    bottom: 18rem;
  }
}

@media (min-width: 48em) {
  .header {
    padding-top: 5.8125rem;
    padding-bottom: 24.25rem;
    background-position: center bottom;
  }
}

@media (min-width: 64em) {
  .header {
    padding-top: 7.8125rem;
    padding-bottom: 31.25rem;
  }
}

@media (min-width: 85.375em) {
  .header {
    background-image: url("../img/desktop/image-header.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6.8125rem;
    padding-bottom: 25.25rem;
  }
}

@media (min-width: 90em) {
  .header {
    background-size: 100%;
  }
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.feature__item {
  background-color: slateblue;
}

.feature .text-content {
  padding: 4.5rem 1.875rem;
  text-align: center;
  background-color: white;
}

.feature .text-content h1 {
  color: #23303e;
  font-weight: 900;
}

.feature .text-content p {
  line-height: 1.6;
  font-size: 16.5px;
}

.feature .img-content {
  width: 100%;
  height: 19.6875rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature__item:nth-child(1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.feature__item:nth-child(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-image: url("../img/mobile/image-transform.jpg");
}

.feature__item:nth-child(3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background-image: url("../img/mobile/image-stand-out.jpg");
}

.feature__item:nth-child(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.feature__btn {
  position: relative;
  width: 145px;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #23303e;
  font-size: 0.90625rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

.feature__btn::before {
  content: "";
  position: absolute;
  width: 135px;
  height: 9px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  border-radius: 50px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  z-index: 0;
}

.feature__btn:hover::before {
  opacity: 1;
}

.feature__btn.yellow::before {
  background-color: #fad400;
}

.feature__btn.red::before {
  background-color: #fe7867;
}

.feature__btn::after {
  content: "Learn More";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 48em) {
  .feature {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */