// Animate classes for Overlay and sm-nav

.fade-out{
    opacity: 0;
    visibility: hidden;
}
.fade-in{
    visibility: visible;
    opacity: 1;
}

.fade-out-up{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-300px);
}
.fade-in-down{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
