// Header
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000;
    background-color: $white;
    nav{
        position: relative;
        padding: 0.6875rem 9.875rem;
        z-index: 2500;
        @include breakpoint-down(medium){
            padding: 1.5rem;
        }
    }
    &__logo{
        img{
            width: 8.8125rem;
            height: 1.375rem;
        }
    }

    &__menu{
        > span{
            display: block;
            width: 26px;
            height: 2px;
            cursor: pointer;
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }

    &__links{

        > li{
            list-style-type: none;
            a{
                font-size: $font-sm;
                color: $grayishBlue;
                transition: color 200ms ease-in-out;
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    display: block;
                    left: 0;
                    right: 0;
                    bottom: -1.9375rem;
                    background: linear-gradient( to right, $limeGreen, $brightCyan);
                    transition: all 0.3s ease-in-out;
                    transform: scaleX(0);
                    transform-origin: center;
                }
                &:hover{
                    color: $darkBlue;
                }
                &:hover::after{
                    transform: scaleX(1.1);
                }
            }
            &:not(:last-child){
                margin-right: 32px;
            }
        }
    }

    &__cta{
        font-size: $font-sm;
        transition: opacity 200ms ease-in-out;

        &:hover{
            opacity: 0.75;
        }
    }
}
// Overlay div
.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to bottom, $darkBlue, #ffffff50);
    transition: all 200ms ease-in-out;
}
// Header Nav on Mobile and Tablets
.header__sm-nav{
    position: relative;
    background-color: transparent;
    top: 5.9375rem;
    width: 100%;
    z-index: 400;
    .sm-nav-wrapper{
        background-color: $white;
        width: 86%;
        margin: auto;
        padding: 1.625rem;
        text-align: center;
        border-radius: 5px;
        transition: all 400ms ease-in-out;
        li{
            list-style-type: none;
            a{
                width: 80%;
                display: inline-block;
                padding: 0.125rem 0 ;
                color: $darkBlue;
                font-weight: 500;
            }
        }
        li:not(:last-child){
            margin-bottom: 1.25rem;
        }
    }
}

// Classes to handle with JS
.menu-btn-open{
    >span:first-child{
        transform: rotate(45deg);
    }
    >span:nth-child(2){
        opacity: 0;
    }
    >span:last-child{
        transform: rotate(-45deg);
    }
}

